body {
    background-color: #000000;
}


@font-face {
    font-family: 'reporter-tworegular';
    src: url('fonts/reportr-webfont.eot');
    src: url('fonts/reportr-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/reportr-webfont.ttf')  format('truetype'),
         url('fonts/reportr-webfont.woff2') format('woff2'),
         url('fonts/reportr-webfont.woff') format('woff'),
         url('fonts/reportr-webfont.svg#reporter-tworegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

div .dc-chart {
    margin: auto;
    float: none;
}

.chart-wrapper .chart-stage {
    color: black;
    padding: 5px 5px;

}

div {

    justify-content: center;
}

svg {
    align-self: center;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 0px;
    margin:0 auto;
    display: flex;

    
}

g {
    padding-left: 20px;
}

.navbar-header {
    font-family: "Reporter-Two", Arial, sans-serif;
}
.navbar-inverse {
  background-color: #ffffff;
  border-color: #333;
}
.navbar-inverse .navbar-nav > li > a,
.navbar a.navbar-brand {
  color: black;
  font-family: 'reporter-tworegular', Arial, sans-serif;
    font-size: 20px;
}


.navbar-brand a:hover {
    color: black;
}

.chart-stage {
    padding: 0px;
}

.dc-chart g.row text {
    color: white;
    font-size: 15px;
    cursor: pointer;
    fill: white;
    text-shadow: 1px 1px #000000;
}

.pie-slice title {
    color: black;
}

/*#deadinj-chart {*/
/*    padding: 0px 0px 0px;*/
/*}*/

/*div svg #deadinj-chart .dc-chart {*/
/*    padding: 5px;*/
/*    margin-bottom: 0px;*/
/*    margin-right: 0px;*/
/*}*/

/*#death-chart {*/

/*    margin-top: 0;*/
/*    margin-left: 0;*/
/*    margin-right: 0;*/
/*    margin-bottom: 0;*/
/*    padding: 0;*/

/*    border: none;*/
/*    border-radius: 0;*/
/*}*/

.chart-wrapper .chart-title {
    color: black;
}


/*.chart-wrapper #death-chart {*/
/*    border-radius: 0;*/

/*}*/

.div.chart-stage.chart-wrapper {
    background: #ffffff;
}

.div {
    background-color: #ffffff;


}


.chart-wrapper {
    background: #fffff;
    font-size: 16px;
    color: #000000;
    font-family: 'reporter-tworegular', Arial, sans-serif;
}


.div.chart-stage {
    background: #ffffff;

}
.chart-stage {
    font-family: 'Questrial', sans-serif;
    margin: 0, 0, 0, 0;

}

.dc-chart .pie-slice {
    fill: white;
    font-size: 15px;
    text-shadow: 2px 2px 2px black;
    cursor: pointer;
}

.dc-legend {
    font-size: 15px;
    padding-right: 30px;
}

@media (max-width: 767px) {
    
    .container-fluid {
        display: inline;
}
}