body {
    background-color: #000000;
}

@font-face {
    font-family: 'Reporter';
    src: url('static/fonts/reporter_regular-webfont.woff2') format('woff2'),
         url('static/fonts/reporter_regular-webfont.woff') format('woff')
         url('static/fonts/report_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

svg {
    color: black;
}

.navbar-inverse {
  background-color: #ffffff;
  border-color: #333;
}
.navbar-inverse .navbar-nav > li > a,
.navbar a.navbar-brand {
  color: black;
  font-family: "Reporter", Arial, sans-serif;
    font-size: 20px;
}
.chart-wrapper.chart-stage {
    padding: 0px;
    color: black;

}

.dc-chart g.row text {
    color: white;
    font-size: 12px;
    cursor: pointer;
    fill: white;
    text-shadow: 1px 1px #000000;
}

.pie-slice title {
    color: black;
}

#death-chart {

    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;

    border: none;
    border-radius: 0;
}

.chart-wrapper .chart-title {
    color: black;
}


.chart-wrapper #death-chart {
    border-radius: 0;

}

.div.chart-stage.chart-wrapper {
    background: #ffffff;
}

.div {
    background-color: #ffffff;

}


.chart-wrapper {
    background: #fffff;
    font-size: 16px;
    color: #000000;
    font-family: Reporter;

}


.div.chart-stage {
    background: #ffffff;

}
.chart-stage {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: [0, 0, 0, 0];

}

.dc-chart .pie-slice {
    fill: white;
    font-size: 15px;
    color: black;
    cursor: pointer;
}

